@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?u9fqkw');
  src:  url('../fonts/icomoon.eot?u9fqkw#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?u9fqkw') format('truetype'),
    url('../fonts/icomoon.woff?u9fqkw') format('woff'),
    url('../fonts/icomoon.svg?u9fqkw#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-telegram:before {
  content: "\e900";
  font-size: 30px;
}
.icon-phone:before {
  content: "\e901";
  font-size: 27px;
}
.icon-instagram:before {
  content: "\e902";
  font-size: 32px;
}
